server:
  port: 9999

spring:
  application:
    name: kwungjin

  datasource:
    driver-class-name: oracle.jdbc.OracleDriver
    url: jdbc:oracle:thin:@localhost:1521:xe
    username: aivideo
    password: 1234

  jpa:
    database-platform: org.hibernate.community.dialect.OracleLegacyDialect
    properties:
      hibernate:
        dialect: org.hibernate.community.dialect.OracleLegacyDialect

jwt:
  secret: "change-this-secret-to-at-least-32chars-long-123456"
  expiration-ms: 86400000
